<app-side-bar>
  <div *ngIf="loading" class="d-flex h-100 align-items-center justify-content-center">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
  <div class="row" *ngIf="!loading">
    <h2 class="text-center">
      <span class="page-heading">Dashboard</span>

      <button class="float-end" (click)="exportDashboard()" mat-icon-button
        color="primary"><mat-icon>download</mat-icon></button>
      <button class="float-end ms-2" (click)="importDashboard()" mat-raised-button color="primary">Import</button>

      <!-- <button class="float-end" (click)="ShowAdminCommand()" mat-raised-button color="warn">Command</button> -->

      <button mat-raised-button class="float-end me-2" color="primary" (click)="openCreateArticle()">
        <mat-icon>add</mat-icon> Add new task
      </button>
    </h2>
    <div class="d-flex justify-content-end my-3">

      <mat-form-field appearance="outline">
        <mat-label>Client</mat-label>
        <input matInput placeholder="Client" name="client" type="text" [(ngModel)]="client" #pageTemp="ngModel" />
      </mat-form-field>


      <mat-form-field appearance="outline" class="ms-2">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="status" name="food">
          <mat-option *ngFor="let option of statusOptions" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="ms-2">
        <mat-label>Assigned To</mat-label>
        <mat-select #assignedToTemp="ngModel" [(ngModel)]="assignedTo" name="assignedTo">
          <mat-option *ngFor="let option of users" [value]="option._id">
            {{option.username}} - {{option.employeeId}} ({{option.type}})
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="ms-2">
        <mat-label>Start Date</mat-label>
        <input matInput [(ngModel)]="startDate" [matDatepicker]="spicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="spicker"></mat-datepicker-toggle>
        <mat-datepicker #spicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="ms-2">
        <mat-label>End Date</mat-label>
        <input matInput [(ngModel)]="endDate" [matDatepicker]="epicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="epicker"></mat-datepicker-toggle>
        <mat-datepicker #epicker></mat-datepicker>
      </mat-form-field>
      <button mat-icon-button class="mt-2" (click)="searchArticle()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button class="mt-2" title="Clear filter" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col" *ngFor="let column of displayedColumns">
              {{ column }}
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataSource; let i = index">
            <th scope="row">{{ ((page-1) * pageSize)+(i + 1) }}</th>
            <td>{{ data.client }}</td>
            <td>{{ data.batch }}</td>
            <!-- <td>{{ data.articleTypes }}</td> -->
            <td>{{ data.article }}</td>
            <td>{{ data.pages }}</td>
            <td>{{ data.inputType }}</td>
            <td>{{ data.complexity }}</td>
            <td>{{ data.processType }}</td>
            <td>{{ data.mathCount }}</td>
            <td>{{ data.imagesCount }}</td>
            <td>{{ data.assignedTo?.username }}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.userstatus }}</td>
            <td>{{ data.createdAt| date }}</td>
            <td>{{ data.targetDate| date }}</td>
            <!-- <td>{{ data.updatedAt| date }}</td> -->
            <!-- <td>{{ data.closedDate| date }}</td> -->
            <td>{{ data.completedDate| date }}</td>
            <td>{{ data.userCompletedDate|date }}</td>
            <td>{{ data.AdminCommand }}</td>
            <td>{{ data.closedDate|date }}</td>
            <td>{{getHours(data.createdAt,data.userCompletedDate)}}</td>
            <td>
              <div class="d-flex">
                <button mat-icon-button color="primary" *ngIf="!data.IsClosed" matTooltip="edit"
                  (click)="openUpdateArticle(data)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" matTooltip="delete" (click)="openDeleteArticle(data)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="accent" *ngIf="!data.IsClosed" matTooltip="close"
                  (click)="openCloseArticle(data)">
                  <mat-icon>task_alt</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [pageIndex]="page-1" [pageSize]="pageSize" [length]="totalRows" (page)="onPageChange($event)"
        [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</app-side-bar>