<div class="container-fluid">
  <div class="row">
    <div class="d-none d-md-block col-md-6 background-image"></div>
    <div class="col-md-6 col-12">
      <div class="d-md-flex mt-5 mt-md-0 align-items-center vh">
        <ng-template #forgetpassword>
          <div class="w-75">
            <h2 class="text-left" style="color: #5bc9a1">Reset Password</h2>
            <div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Enter Email</mat-label>
                <input
                  matInput
                  placeholder="pat@example.com"
                  [(ngModel)]="email"
                  #emailTemp="ngModel"
                  required
                />
                <mat-error
                  *ngIf="
                    emailTemp.invalid && (emailTemp.dirty || emailTemp.touched)
                  "
                  >User name is required</mat-error
                >
              </mat-form-field>
            </div>
            <mat-error *ngIf="errorMessage" class="mb-3">{{
              errorMessage
            }}</mat-error>
            <div>
              <button
                mat-raised-button
                (click)="forgetPassword()"
                class="btn-clr d-inline"
                [disabled]="email === ''"
              >
                submit
              </button>
              <span class="d-block mt-2 text-muted">
                <span class="d-block mt-2 text-muted">
                    Go back to 
                <a class="text-primary" style="cursor: pointer" (click)="toogleblock()">
                    Login
                </a>
                </span>
              </span>
              <span *ngIf="loading" class="mx-3">
                <mat-spinner class="d-inline" [diameter]="25"></mat-spinner>
              </span>
            </div>
          </div>
        </ng-template>
        <div *ngIf="!reset; else forgetpassword">
          <h2 class="text-left" style="color: #5bc9a1">Login</h2>
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter User Name</mat-label>
              <input
                matInput
                placeholder="pat@example.com"
                [(ngModel)]="username"
                #emailTemp="ngModel"
                required
              />
              <mat-error
                *ngIf="
                  emailTemp.invalid && (emailTemp.dirty || emailTemp.touched)
                "
                >User name is required</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter your password</mat-label>
              <input
                matInput
                [(ngModel)]="password"
                #passwordTemp="ngModel"
                required
                [type]="hide ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  passwordTemp.invalid &&
                  (passwordTemp.dirty || passwordTemp.touched)
                "
                >Password is required</mat-error
              >
            </mat-form-field>
          </div>
          <mat-error *ngIf="errorMessage" class="mb-3">{{
            errorMessage
          }}</mat-error>
          <div>
            <button
              (click)="login()"
              mat-raised-button
              class="btn-clr d-inline"
              [disabled]="username === '' || password == ''"
            >
              Submit
            </button>
            <span class="d-block mt-2 text-muted">
              Forget Password ?
              <a
                class="text-primary"
                style="cursor: pointer"
                (click)="toogleblock()"
              >
                Reset Password
              </a>
            </span>

            <span *ngIf="loading" class="mx-3">
              <mat-spinner class="d-inline" [diameter]="25"></mat-spinner>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
