<div>
  <mat-dialog-content>
    <form #createForm="ngForm">
      <div class="row">
        <h4 class="text-left" style="color: #5bc9a1">{{ (profile?"Profile":(update?"Edit Leave":"Create Leave"))}}</h4>
        <div class="col-12">
          <div class="row">

            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput [(ngModel)]="formData.dateOfLeave" name="dateOfLeave" [matDatepicker]="spicker" required #dateOfLeaveTemp="ngModel">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="spicker"></mat-datepicker-toggle>
                <mat-datepicker #spicker></mat-datepicker>
                <mat-error *ngIf="dateOfLeaveTemp.invalid &&
                    (dateOfLeaveTemp.dirty || dateOfLeaveTemp.touched)">Date is required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Leave Type</mat-label>
                <mat-select [(ngModel)]="formData.type" name="food">
                  <mat-option *ngFor="let option of leaveTypeOptions" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Reason</mat-label>
                <input matInput name="reason" [(ngModel)]="formData.reason" #reasonTemp="ngModel" required />
                <mat-error *ngIf="reasonTemp.invalid &&
                    (reasonTemp.dirty || reasonTemp.touched)">Reason is required</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button *ngIf="data.updateLeave" mat-raised-button color="primary" (click)="updateLeave()"
      [disabled]="!createForm.valid">Save</button>

    <button *ngIf="!data.updateLeave" mat-raised-button color="primary" (click)="onSave()"
      [disabled]="!createForm.valid">Save</button>
    <button mat-raised-button color="warn" matDialogClose>Close</button>
  </mat-dialog-actions>
</div>