<app-side-bar>
  <div *ngIf="loading" class="d-flex align-items-center justify-content-center">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <h2 class="text-center">
      <span class="page-heading">Forgot Password Requests</span> </h2>
    <hr />
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col" *ngFor="let column of displayedColumns">
              {{ column }}
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataSource; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ data.username }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.employeeId }}</td>
            <td>{{ data.mobileNo }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.joiningDate }}</td>
            <!-- <td>{{ data.contactPerson.email }}</td> -->
            <td>
              <div class="d-flex">
                <button mat-icon-button color="primary" matTooltip="edit" (click)="openResetPasswordUser(data)">
                  <mat-icon>edit</mat-icon>
                </button>                
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-side-bar>