<div>
    <mat-dialog-content>
      <form #createForm="ngForm">
        <div class="row">
          <h4 class="text-left" style="color: #5bc9a1">Reset Password</h4>
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Username</mat-label>
                  <input disabled
                    matInput
                    placeholder="Username"
                    name="username"
                    [(ngModel)]="formData.username"
                    #usernameTemp="ngModel"
                    required
                  />
                  <mat-error
                    *ngIf="usernameTemp.invalid &&
                      (usernameTemp.dirty || usernameTemp.touched)"
                    >Username is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Enter Password</mat-label>
                  <input
                    matInput
                    [(ngModel)]="formData.password"
                    name="password"
                    #passwordTemp="ngModel"
                    [type]="hide ? 'password' : 'text'"
                    (keypress)="comparePassword()"
                    required
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (change)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="passwordTemp.invalid &&
                      (passwordTemp.dirty || passwordTemp.touched)"
                    >Password is required</mat-error
                  >                  
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Confirm Password</mat-label>
                  <input 
                    matInput
                    [(ngModel)]="formData.confirmPassword"
                    name="confirmPassword"
                    #confirmPasswordTemp="ngModel"
                    [type]="hide ? 'password' : 'text'"
                    (change)="comparePassword()"
                    required
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="confirmPasswordTemp.invalid &&
                      (confirmPasswordTemp.dirty || confirmPasswordTemp.touched)"
                    >Corfirm Password is required</mat-error
                  >                  
                </mat-form-field>
              </div>
              <div>
                <mat-error
                    *ngIf="passwordMisMatchError">
                    Password mismatch
                  </mat-error>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!createForm.valid">Save</button>
      <button mat-raised-button color="warn" matDialogClose>Close</button>
    </mat-dialog-actions>
  </div>
  